# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# testing
coverage/

# misc
.DS_Store
*.pem
!docker/registry/certs/rootcert.pem

# vitest
.vitest/
